body{
	padding-top: 70px;
	padding-bottom: 20px;
	font-family: 'Bebas Neue'; 
    font-size: 16px;
	background-image: url(../imagenes/peliculas/fondo1.jpg);
}

footer{
	background-color:  rgba(238, 231, 231, 0.849);
	border-top: 10px solid rgb(245, 235, 235);
	font-size: 17px;
	padding: 10px;
	text-align: center;
	color: rgb(230, 184, 98);
}

.box-principal{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	
}


.imagen-avatar{
	height: 70px;
	width: 70px;
	
}


.panel-heading, .titulo {
	background-color: whitesmoke;
}

.panel-title {
	background-color: whitesmoke;
	color: grey;
}


.panel-body{
	background-color: whitesmoke;
}

.btn-success {
	background-color: burlywood;
}

.btn-success:hover {
	background-color: burlywood;
}


.navbar{
	background-color: rgba(238, 231, 231, 0.849);
}

.navbar-header{
	color: grey;
}

.enlace_ver{
	text-decoration: none;
	color: black;
}

.enlace_ver:hover{
	text-decoration: none;
	color: rgb(211, 142, 15);
}

.imagen-avatar{
	transition: transform 0.3s ease;
}

.imagen-avatar:hover{
transform: scale(1.2);
}


.navbar-header .navbar-brand {
    color: wheat;
}
.dropdown-menu:hover{
background-color:white;
}

.box-principal .panel-heading{
	background-color: wheat;
}


.navbar-inverse .navbar-nav > li > a {
    color: currentcolor;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: wheat;
}


.titulo {
    font-size: 40px;      
    text-align: center;     
	padding-top: 25px; 
    color: rgba(0, 0, 0, 0.685);            
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
}

.panel-success > .panel-heading {
    color: #212121;
    background-color: wheat;
}

.panel-heading, .titulo {
    background-color: wheat;
}

.panel-title {
    background-color: wheat;
}

.table th, .table td {
    padding: 15px; 
    font-size: 18px; 
    height: 50px; 
}

.table th {
    color: rgb(75, 74, 74); 
    font-size: 20px;
}


.btn-warning {
    background-color: black;
}

.btn-warning:hover{
	background-color: rgba(12, 12, 12, 0.432);
}




.btn-danger {
    color: #ffffff;
    background-color: red;
}

/**agregar pelicula///**/

.form-horizontal .form-group .control-label {
    font-size: 18px; 
}

.form-horizontal .form-group .form-control {
    font-size: 18px; 
}

.form-horizontal .form-group .btn {
    font-size: 16px; 
}


.panel-title {
    font-size: 18px; 
}


.btn-warning:hover {
    background-color: rgb(88, 87, 87); 
    
}

.btn-danger:hover {
 background-color: rgb(226, 33, 33);
}

/*/*LISTADO DE PELICULA/////***************/
.table {
    font-size: 20px; 
}

.table th, .table td {
    font-size: 20px; 
}

.panel-title {
    font-size: 25px; 
}

.titulo {
    font-size: 30px; 
}


