body{
	padding-top: 70px;
	padding-bottom: 20px;
	font-family: 'Bebas Neue'; 
    font-size: 16px;
	background-image: url(../imagenes/peliculas/fondo1.jpg);
}

footer{
	background-color:  rgba(238, 231, 231, 0.849);
	border-top: 10px solid rgb(245, 235, 235);
	font-size: 14px;
	padding: 10px;
	text-align: center;
	color: blueviolet;
}

.box-principal{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	
}


.titulo{
	text-align: center;
	background-color: tomato;
	
}
.imagen-avatar{
	height: 50px;
	width: 50px;
	
}


.panel-heading, .titulo {
	background-color: whitesmoke;
}

.panel-title {
	background-color: whitesmoke;
	color: grey;
}


.panel-body{
	background-color: whitesmoke;
}

.btn-success {
	background-color: grey;
}


.btn-warning{
	background-color: orange;
}

.navbar{
	background-color: rgba(238, 231, 231, 0.849);
}

.navbar-header{
	color: grey;
}

.enlace_ver{
	text-decoration: none;
	color:blueviolet
}

.enlace_ver:hover{
	text-decoration: none;
	color:yellowgreen
}

.imagen-avatar{
	transition: transform 0.3s ease;
}

.imagen-avatar:hover{
transform: scale(1.2);
}


.navbar-header .navbar-brand{
	color: blue;
}

.dropdown-menu:hover{
background-color:white;
}

.box-principal .panel-heading{
	background-color:yellow
}